@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --color-white: #fff;
  --color-grey: #868686;
  --color-black: #000000;

  --font-alata: "Alata", sans-serif;
  --font-josefin-sans: "Josefin Sans", sans-serif;
}

body {
  font-family: var(--font-josefin-sans);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  color: var(--color-grey);
  position: relative;
}

header {
  padding-top: 72px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 445px;

  background-image: url("../images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  & .mobile-menu {
    display: none;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 75px 45px 0;

    & .logo {
      width: 288px;
    }

    & .logo-and-close-btn {
      display: flex;
      justify-content: space-between;
      margin-bottom: 325px;

      & .close-menu-btn {
        width: 48px;
        cursor: pointer;
      }
    }

    & .mobile-menu-links {
      padding: 0;
      list-style: none;
      & li {
        margin-bottom: 60px;
        height: 38px;
      }
      & a {
        color: var(--color-white);
        font-size: 40px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  & .mobile-menu.visible {
    display: block;

    @media (min-width: 1112px) {
      display: none;
    }
  }
}

.logo-and-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .logo {
    width: 288px;
  }

  & .menu {
    width: 48px;
    cursor: pointer;
  }
}

.btn {
  padding: 30px 76px;
  border: 2px solid var(--color-black);
  color: var(--color-black);
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  margin: 0 auto;
  font-size: 36px;
  display: inline-block;
  line-height: normal;
}

.hero-text {
  margin-top: 320px;
  border: 4px solid var(--color-white);
  padding: 50px 55px;
  color: var(--color-white);
  text-transform: uppercase;
  font-family: var(--font-alata);
  font-size: 80px;
  font-weight: 400;
  font-style: normal;
  word-spacing: 100vw;
}

main {
  padding: 195px 48px 190px;
}

.interactive-vr {
  & img {
    margin-bottom: 98px;
    width: 100%;
  }
  & .title {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-alata);
    font-size: 56px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 60px;
    color: var(--color-black);
  }
  & .description {
    text-align: center;
    margin-bottom: 200px;
    font-size: 36px;
  }
}

.our-creations {
  & .title-wrapper > .title {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-alata);
    font-size: 56px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 110px;
    color: var(--color-black);
  }

  & .title-wrapper > .btn {
    display: none;
  }
}

.creations-list {
  list-style: none;
  padding: 0;
  margin-bottom: 64px;
  & .creation-item {
    margin-bottom: 48px;
    position: relative;
    & img {
      width: 100%;
      object-fit: cover;
      display: block;
    }

    & .title {
      position: absolute;
      bottom: 48px;
      left: 46px;
      color: var(--color-white);
      font-family: var(--font-alata);
      font-size: 36px;
      text-transform: uppercase;
    }
  }
}

.mobile-btn-wrapper {
  text-align: center;
}

footer {
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  padding: 106px 0 116px;

  & .logo-and-links {
    & .logo {
      display: block;
      margin: 0 auto 80px;
    }
    & ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 50px;
      }
      & a {
        color: var(--color-white);
        font-weight: 500;
        font-size: 28px;
        text-decoration: none;
      }
    }
  }

  & .social-links-and-copyright {
    & ul {
      list-style: none;
      display: flex;
      column-gap: 30px;
      justify-content: center;
      align-items: center;
      margin-bottom: 42px;
    }
    & .copyright {
      color: var(--color-grey);
      font-size: 20px;
      font-weight: 500;
    }
  }
}
